<section class="hero">
    <picture>
        <source media="(min-width: 1024px)" srcset="/images/bg/hero-desktop.webp">
        <source media="(min-width: 600px)" srcset="/images/bg/hero-tablet.webp">
        <img src="/images/bg/hero-mobile.webp" alt="Hero Image" class="hero-image">
    </picture>
    <div class="hero-content">
        <h1>CSE 340 Motors!</h1>
        <h2>DMC Delorean</h2>
        <p>
            3 Cup holders
            Superman doors
            Fuzzi digel
        </p>
        <a href="#" class="ctc">Own Today</a>
    </div>
</section>
<section class="car">
    <div class="section1">
        <h2>FMC Delorean Reviews</h2>
        <div class="reviews">
            <ul>
                <li>So fast it's almost like traveling in time. (4/5)</li>
                <li>Coolest ried on the road. (4/5)</li>
                <li>I am feeling McFly. (5/5)</li>
                <li>The most futuristic ride of our day. (4.5/5)</li>
                <li>80's livin and I love it. (5/5)</li>
            </ul>
        </div>
    </div>
    <div class="section2">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <figure>
                <div><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
                <figcaption>Flux Capacitor</figcaption>
            </figure>
            <figure>
                <div><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></div>
                <figcaption>Flame Decals</figcaption>
            </figure>
            <figure>
                <div><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
                <figcaption>Bumper Stickers</figcaption>
            </figure>
            <figure>
                <div><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
                <figcaption>Hub Caps</figcaption>
            </figure>
        </div>
    </div>
</section>