/******* Change Box Model ***************/
@media screen and (min-width: 450px) {
    header {
        position: static;
        padding: 10px 16px;
    }

    .hamburger-lines {
        display: none;
    }

    nav {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0);
        transition: none;
        padding: 15px 0;
    }

    nav ul {
        width: auto;
        height: auto;
        flex-direction: row;
        column-gap: 15px;
    }

    nav ul li {
        width: auto;
    }

    nav ul li a {
        width: auto;
        padding: 10px 5px;
        font-size: 1em;
    }

    nav ul li a::before {
        bottom: 5px;
    }

    .siteName a {
        font-size: 2rem;
    }

    #tools a {
        font-size: 1.2rem;
    }

    /* Index style starts here */
    #homeSect {
        margin-top: 0;
    }

    .hero {
        margin-top: 0;
    }

    .hero-content h1 {
        font-size: 3.5em;
    }

    .hero-content h2 {
        font-size: 3em;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    .ctc {
        padding: 12px 25px;
        margin-top: 20px;
        font-size: 1.3em;
    }

    .car {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "section1 section2";
    }

    figcaption {
        font-size: 1.3em;
    }

    /* Footer style */
    .footer-logo h3 {
        font-size: 2.3em;
    }

}